#
# Rissu's Custom Configurations
# For Galaxy A04e and A03s
#
CONFIG_LOCALVERSION="-Refreshing-Kernel"
CONFIG_LOCALVERSION_AUTO=n
CONFIG_SAMSUNG_LMKD_DEBUG=n
CONFIG_USB_DEBUG_DETAILED_LOG=n
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_AVC_STATS=n
CONFIG_MTPROF=n
CONFIG_NL80211_TESTMODE=n
CONFIG_SND_DEBUG=n
CONFIG_SND_DEBUG_VERBOSE=n
CONFIG_SND_VERBOSE_PRINTK=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=n
CONFIG_TCP_CONG_WESTWOOD=n
CONFIG_TCP_CONG_HTCP=n
CONFIG_SND_SOC_MT6357_ACCDET=y
CONFIG_SND_SOC_MT6359_ACCDET=n
CONFIG_MMSTAT_TRACER=n
CONFIG_IKHEADERS=n
CONFIG_KPROBES=n
CONFIG_KSU=y
CONFIG_KSU_CMDLINE=y
CONFIG_KSU_MANUAL_HOOK=y
CONFIG_KALLSYMS_ALL=n
CONFIG_ZRAM_DEFAULT_COMP_ALGORITHM="lz4"
CONFIG_DISABLE_TRACE_PRINTK=y
CONFIG_ARM64_SVE=n
CONFIG_REFCOUNT_FULL=n
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_COMPAT_VDSO=y
CONFIG_INTEGRITY=n
CONFIG_INTEGRITY_SIGNATURE=n
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=n
CONFIG_INTEGRITY_TRUSTED_KEYRING=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_SECURITY_DEFEX=n
CONFIG_MISC_OPT_OVERCLOCK=y
CONFIG_ANDROID_LOW_MEMORY_KILLER=y
CONFIG_ANDROID_SIMPLE_LMK=y
CONFIG_ANDROID_SIMPLE_LMK_MINFREE="256"
CONFIG_ANDROID_SIMPLE_LMK_TIMEOUT_MSEC="250"
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_IOSCHED_BFQ=y
CONFIG_DEFAULT_CFQ=n
CONFIG_DEFAULT_DEADLINE=y
CONFIG_DEFAULT_IOSCHED="deadline"
